services:
  api:
    build: .
    container_name: minhaia_api
    ports:
      - "8000:8000"
    volumes:
      - ./outputs:/app/outputs
      - ./storage:/app/storage
    environment:
      - PYTHONUNBUFFERED=1
