services:
  api:
    build: .
    container_name: minhaia_api
    ports:
      - "8000:8000"
    volumes:
      - ./storage:/app/storage
      - ./outputs:/app/outputs
    environment:
      - PYTHONUNBUFFERED=1
    restart: unless-stopped
