services:
  api:
    container_name: minhaia_api
    build: .
    ports:
      - "8000:8000"
    volumes:
      - ./outputs:/app/outputs
      - ./storage:/app/storage
      - ./config:/app/config
      - ./apps/web:/app/apps/web
    restart: unless-stopped
